[Unit]
Description=Auto-commit and push changes in dotfiles directory
After=network.target

[Service]
Type=simple
Environment="STOW_FILES=%h/.dotfiles"
Environment="SSH_AUTH_SOCK=%t/keyring/ssh"
WorkingDirectory=%h/.dotfiles
ExecStart=%h/.dotfiles/autocommit-stow.sh
Restart=always
RestartSec=5
RuntimeMaxSec=1d

[Install]
WantedBy=default.target
